.item {
  display: flex;
  flex-direction: row;
  min-height: 115px;
  background-color: #ffffff;
  box-shadow: 0 5px 6px rgba(63, 63, 63, 0.2);
  border-radius: 4px;
  margin-bottom: 20px;
}

.inner_wrapper {
  position: relative;
  padding: 15px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 115px;

  &::before {
    content: '';
    position: absolute;
    background-color: #f0ebeb;
    width: 1px;
    height: 100%;
    top: 0;
    right: 0;
  }
}

.img {
  width: 100px;
}

.button {
  min-width: 130px;
  min-height: 40px;
  color: #ffffff;
  background-color: #f8781b;
  border: none;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(63, 63, 63, 0.5);
  transition: background-color 0.2s ease-out;

  &:hover {
    cursor: pointer;
    background-color: lighten(#f8781b, 5%);
  }
}

.info {
  display: flex;
  padding: 15px 20px;
}

.transfer_wrapper {
  position: relative;
  padding: 0 15px;

  &::before {
    content: '';
    position: absolute;
    background-image: url('icon-airplane.svg');
    background-repeat: no-repeat;
    width: 10px;
    height: 10px;
    right: 5px;
    top: 20px;
  }

  &::after {
    content: '';
    position: absolute;
    background-color: #9f9e9e;
    width: 80%;
    height: 1px;
    left: 5px;
    top: 25px;
  }
}

.transfer {
  color: #9f9e9e;
}
